h1.img {}
h6 {
    font-size: 18px;
    margin: 0;
    padding: 20px 0;
}
h4 {

    padding: 10px 0;
    text-align: center;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}
a.link{
    // @include HelveticaNeueBold(15px);
    text-decoration: none;
    border-bottom: 4px #b61a34 solid;
    margin-top: 15px;
    padding-bottom: 5px;
    display: inline-block;
    &:hover {
        color: #86a6da;
    }
}
.title-lable {
    .btn-green {
        display: block;
        background: url(../img/btn-left.png) no-repeat left top;
        width: 267px;
        height: 45px;
        float: left;
        color: #fff;
        text-decoration: none;
        position: relative;
        z-index: 2;
        @include animate(0.3s);
        &:hover {

        }
        span {
             display: block;
             @include RobotoRegular (16px,42px) ;
             width: 204px;
             float: left;
        }
        &:before {
            content: "";
    		background: url(../img/item.png) no-repeat left center;
    		width: 20px;
    		height: 20px;
    		float: left;
    		margin: 10px;
        }
        &:after {
            content: "";
    		background: url(../img/btn-right.png) no-repeat left top;
    		width: 23px;
    		height: 45px;
    		float: left;
        }


    }
    .btn-red {
        display: block;
        background: url(../img/btn-red-left.png) no-repeat left top;
        width: 161px;
        height: 45px;
        float: left;
        color: #fff;
        text-decoration: none;
        margin-left: -10px;
        position: relative;
        margin-left: -18px;
        @include animate(0.3s);
        z-index: 1;
        span {
            display: block;
            @include RobotoRegular (16px,42px) ;
            width: 90px;
            float: left;
            padding-left: 39px;
        }
        &:after {
            content: "";
    		background: url(../img/btn-red-right.png) no-repeat left top;
    		width: 32px;
    		height: 45px;
    		float: left;
        }
        &:hover {

        }
    }
    &::before {
        content: "";
        float: left;
        background: url(../img/ribon.png) no-repeat left bottom;
        width: 5px;
        height: 51px;
        position: absolute;
        left: 0;
    }
}
