/*===================
PARAMATERS=====================*/

/*FONT SIZE*/
$font-content: 12.45px;
$font-content2: 14px;
$font-main: 15px;
$font-main-smaller: 15px;
$font-main-smaller2: 20px;
$font-title: 40px;
$font-titleBig: 60px;

/*SIZE*/
$minwidth: 640px;
$spacing-session: 40px;
