/*==================sec-hotproduct=======================*/
 .sec-listproduct{
     clear: both;
     position: relative;
     padding-top: 20px;
     .title-lable {
         clear: both;
     }
     .content {
         clear: both;

     }
     .lable-cost {
         position: absolute;
         left: 10px;
         bottom: 10px;
         .btn {
             height: 34px;
             display: block;
             background: url(../img/bg_lable.png) repeat-y left top;
             color: #fff;
             text-decoration: none;
             line-height: 34px;
             span {
                 display: block;
                 float: left;
                 min-width: 136px;
                 text-align: center;
             }
             &:after {
                 background: url(../img/arrow-lable.png) no-repeat left top;
                 width: 38px;
                 height: 34px;
                 content: "";
                 float: left;
             }
         }
     }
     .item-product {
         border-bottom: 1px #dedbdb solid;
         clear: both;
         overflow: hidden;
         padding: 20px 1%;
         width: 98%;
         .img-view {
             float: left;
             background: #f1f0f0;
             border: 1px #dedbdb solid;
             @include boderRadius(5px);
             padding: 10px;
             margin-right: 2%;
             width: 25%;
             position: relative;
             img {
                 max-width: 100%;
                 display: block;
             }
         }
         .info {
             float: left;
             width: 71%;
             h5 {
                 @include RobotoBold(18px);
                 margin: 0;
                 padding: 0px 0 10px 0;
             }
             p {

			 }
             .contacts {
                 clear: both;
                 padding-top: 30px;
                 h5 {
                    color: red;
                    padding-bottom: 0;
                 }
             }
             .block-info {
                 display: table;
                 width: 100%;
                 padding: 15px 0;
                 .row {
                     display: table;
                     padding-top: 10px;
                 }
                 .col {
                     display: table-cell;
                     &.col01 {
                         width: 160px;
                     }
                     &.col02 {

                     }
                     span {
                         color: red;
                     }
                     b {
                         color: $color-main;
                     }
                 }
             }
             .text01 {
                 clear: both;
                 display: block;
             }
             .text02 {
                 clear: both;
                 padding: 15px 0;
                 span {
                     display: block;
                     &:first-child {
                         color: red;
                     }
                     b {
                         color: $color-main;
                     }
                 }
             }
             .text03 {
                 clear: both;
                 span {
                     float: left;
                     &.line {
                         margin: 0px 20px;
                     }
                 }
             }
         }
     }
     &.detail {

         .item-product{
             .img-view {
                 width: 90%;
                 margin:  0 auto;
             }
             .info {
                 width: 100%;
                 padding-top: 30px;
             }
         }
     }
 }
