/*COLOR*/
$color-white: #fff;
$color-red: #b61a34;
$color-main: #333333;
$color-grey: #f0f0f0;
$color-grey1: #cccccc;
$color-grey-hover: #dad9d9;
$color-blue-hover: #3125a2;
$color-border: #b89d6a;
$color-borderline: #ebebeb;
$color-borderline2: #d9d9d9;


@function em($size) {
	@return #{$size / 13px}em;
}
/*=====================*/
@mixin button_blue ($width:100%, $height: 46px){
	@include bg_gradient(#379201, #4faa02);
    height: $height;
    line-height: auto;
    display: block;
    padding: 0px 12px;
    color: #fff;
    margin: 9px 0;
	outline: none;
	border: none;
    width: $width;
	@include animate(0.3s);
	text-align: left;
	@include RobotoRegular (16px, 1.5) ;
	@include boderRadius(6px);
	&:before {
		content: "";
		background: #379201 url(../img/item.png) no-repeat left center;
		width: 20px;
		height: 20px;
		float: left;
		margin-right: 12px;
		margin-top: 2px;
	}
	&:hover {
		opacity: 0.8;
	}
 }
@mixin inputstyle ($width:98%) {
	color: #fafafa;
	width: $width;
	background: #fff;
	border: 1px #dfdfdf solid;
	@include boderRadius(7px);
	height: 41px;
	font-size: 16px;
	font-weight: 400;
	padding: 0px 1%;
	outline: none;
	color: $color-main;
	@include RobotoRegular (15px) ;
}
/*===================
MIXIN=====================*/
@mixin animate($time){
	-webkit-transition: all $time;
	-moz-transition: all $time;
	transition: all $time;
}

@mixin clear_animate(){
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

@mixin selectNone(){
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}


@mixin boderRadius($value)
{
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin borderCorner ($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin setOpacity ($value) {
	opacity: $value;
	filter: alpha(opacity=$value*100);
}

@mixin backgroundCover()
{
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

@mixin displayFlex()
{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-justify-content: center; /* Safari 6.1+ */
	justify-content: center;

	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
}

@mixin objAbsoluteMiddle() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
}

@mixin clearObjAbsoluteMiddle() {
	position: relative;
	top: auto;
	left: auto;
	transform: translate(0, 0);
	-ms-transform: translate(0, 0); /* IE 9 */
	-webkit-transform: translate(0, 0); /* Safari */
}

@mixin Rotate($value)
{
	-ms-transform: rotate($value+deg); /* IE 9 */
	-moz-transform: rotate($value+deg);
	-o-transform: rotate($value+deg);
	-webkit-transform: rotate($value+deg); /* Chrome, Safari, Opera */
	transform: rotate($value+deg);
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


 @mixin bg_gradient ($color1: #fff , $color2 : #fff) {
 	background: $color1 ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $color1, $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, $color1, $color2); /* Standard syntax */
}
@mixin skewText {

}
@mixin shadow($w:2px, $color: #2d761f) {
	-moz-box-shadow: $w $w $w $color;
	-webkit-box-shadow: $w $w $w $color;
	box-shadow: $w $w $w $color;
}
